test/javasource/
test/deployment/
test/.classpath
test/.project
test8/javasource/
test8/deployment/
test8/.classpath
test8/.project
*.launch
*.tmp
*.lock
*.bak
.idea/
*DS_Store*
*.svn-base
node_modules/
