/* ==========================================================================
   Buttons

   Default Bootstrap and Mendix Buttons
========================================================================== */

button:focus {
    outline: none!important;
}

.btn,
.mx-button {

    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
	border: none;
	border-radius: 2px;

	
	margin: 4px;
    &:hover,
    &:focus,
    &:active {
    	/* Styles here */
    }
}

// Mendix button link
.mx-link {
	
	font-weight: $font-weight-semibold;
	&:hover {
	text-decoration: none;
	}
}

.mx-link a {
	
	&:hover, :active {
	text-decoration: none!important;
	}
}

// Images in buttons
.btn,
.mx-button,
.mx-link {
    img {
        width: 90px;
        height: 60px;
    }
}

// Buttons Alternate Style
.btn-link {
  margin-top: 16px!important;
	color: $brand-primary!important;
	background-color:transparent!important;
  box-shadow: none!important;
  margin: 0px;
  padding: 0px;
  margin-right: 8px;


	&:hover {
	background-color:transparent!important;
	color: $font-base-color;
	text-decoration: none;
	}

  &:active {
  
  color: $font-base-color;
  text-decoration: none;
  }
}

.btn-default {
	background: $brand-default;
	color: $font-base-color;
	border: none;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
&:hover {
	background: darken($brand-default, 10%);
	color: $font-base-color;
	border: none;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
     
	/* Styles here */
}

.btn-primary {
	 transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
     &:hover {
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
	 }

}

.btn-secondary {
	color: $color-text-white;
	background: $brand-secondary!important;
	 transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
     &:hover {
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
      color: $color-text-white;
	 }

}

.btn-inverse {
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
     &:hover {
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
	 }
	/* Styles here */
      img {
        width: 90px;
        height: 60px;
    }
}
.btn-success {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
     &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
	 }
	/* Styles here */
}
.btn-info {
 transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
     &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
	 }
	/* Styles here */
}
.btn-warning {
 transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
     &:hover {
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
	 }
	/* Styles here */
}
.btn-danger {
 transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
     &:hover {
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
	 }
	/* Styles here */
}
.btn-white {
	
}

// Buttons appear disabled
.btn-disabled {

}
// Transparent Buttons
.btn-transparent,
.btn-transparent:hover,
.btn-transparent:focus {

}


// Buttons Sizes
.btn-lg {

}
.btn-sm {

}

.mx-dateinput-select-button {
	background: none!important;
	color: $brand-primary;
	&:hover {
	
	color: $brand-primary;
	}
}

.mx-listview .mx-button.mx-listview-clear-button {
	background: none!important;
	color: $brand-primary;
}



/* ==========================================================================
   Buttons

   Flat button
========================================================================== */

.flat-button.mx-button {
    color:$brand-primary!important;
    font-weight: 700;
    background-color:transparent!important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    &:hover,
    &:focus,
    &:active {
      /* Styles here */
      //background-color:$bg-grey-hover-color!important;
    }
}

.flat-button-inverse.mx-button {
    color:$brand-inverse!important;
    font-weight: 700;
    background-color:transparent!important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    &:hover,
    &:focus,
    &:active {
      /* Styles here */      
      //background-color:$bg-grey-hover-color!important;
    }
}

.btn-primary.btn-bordered {
  background-color: $brand-primary;
}