/* ==========================================================================
   Groupbox

   Default Mendix Groupboxes
========================================================================== */
.mx-groupbox {
	border: none;
	> .mx-groupbox-header {
		background: #fff;
		border: none;
		border-bottom: 1px solid #808080;
		font-weight: 500;
		color: $font-base-color;
		.mx-groupbox-collapse-icon {
			font-size: 12px;
		}
	}
	> .mx-groupbox-body {
		border: none;
  	}
  	.mx-groupbox-header + .mx-groupbox-body {
  		/* Styles here */
	}
	&.collapsed > .mx-groupbox-header {
		/* Styles here */
	}
}

// ==========================================================================
// Groupbox Callouts
//
// Default Mendix Groupboxes rendered as (Bootstrap) callouts
// ==========================================================================
.mx-groupbox {	
	&.groupbox-callout {
		> .mx-groupbox-header, 
		> .mx-groupbox-body {

	  	}
	  	.mx-groupbox-header + .mx-groupbox-body {

	  	}
	}
	&.groupbox-callout-info {
		> .mx-groupbox-header, 
		> .mx-groupbox-body {

		}
		> .mx-groupbox-header {

		}
	}
	&.groupbox-callout-success {
		> .mx-groupbox-header, 
		> .mx-groupbox-body {

		}
		> .mx-groupbox-header {

		}
	}
	&.groupbox-callout-warning {
		> .mx-groupbox-header, 
		> .mx-groupbox-body {
			
		}
		> .mx-groupbox-header {
			
		}
	}
	&.groupbox-callout-danger {
		> .mx-groupbox-header, 
		> .mx-groupbox-body {

		}
		> .mx-groupbox-header {
			
		}
	}
}
